///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// --------------------------------------------------------
// Pure Color Palette
// --------------------------------------------------------

// Do not use these in your codebase! Reassign them to more abstract,
// reusable variables below.
$color-black: #000 !default;
$color-white: #fff !default;
$color-blue: #0080ff !default;
$color-red: #ff0000 !default;





// --------------------------------------------------------
// Abstract Colors Palette
// --------------------------------------------------------
$color-ui: $color-black !default;
$color-ui-invert: $color-white !default;
$color-page: $color-white !default;
$color-brand: $color-red !default;
$color-action: $color-blue !default;





// --------------------------------------------------------
// inuitcss variables
// --------------------------------------------------------
$inuit-base-text-color: $color-ui !default;
$inuit-base-background-color: $color-page !default;





// --------------------------------------------------------
// Components Palette
// --------------------------------------------------------
$color-link: $color-action !default;
$color-link-hover: darken($color-link, 15) !default;

