///*------------------------------------*\
//    #CONFIG
//\*------------------------------------*/


/* Borders */
$border-radius-default: 3px;


/* Lists */
$list-item-indentation: 30px !default;
$list-item-indentation-small: 20px !default;
