///*------------------------------------*\
//    #TYPOGRAPHY
//\*------------------------------------*/

// Modular Scale:
// http://www.modularscale.com/?16&px&1.333&sass&text
$ms-base: 16px;
$ms-ratio: 1.33;
@import "modular-scale/stylesheets/_modular-scale";



// Base font family.
$base-font: "base" !default;
// $base-font-path: "../fonts/base/Fonts" !default;
$ff-base: "#{$base-font}", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// Font weights
$fw-light: 100 !default;
$fw-normal: 300 !default;
$fw-regular: $fw-normal !default;
$fw-medium: 500 !default;
$fw-bold: 700 !default;


// Font sizes
// http://www.modularscale.com/?16&px&1.333&sass&text
$fs-xxs: ms(-3) !default;
$fs-xs: ms(-2) !default;
$fs-xs: ms(-1) !default;
$fs-base: ms() !default;
$fs-l: ms(1) !default;
$fs-xl: ms(2) !default;
$fs-xxl: ms(3) !default;
$fs-xxxl: ms(4) !default;


// Line height
$lh-base: $fs-base * 1.4 !default;


// Heading font sizes
$fs-h1: $fs-xxxl !default;
$fs-h2: $fs-xxl !default;
$fs-h3: $fs-xl !default;
$fs-h4: $fs-base !default;
$fs-h5: $fs-base !default;
$fs-h6: $fs-base !default;


// Inuit
$inuit-base-font-size: $fs-base !default;
$inuit-base-line-height: $lh-base !default;

$inuit-heading-size-1: $fs-h1;
$inuit-heading-size-2: $fs-h2;
$inuit-heading-size-3: $fs-h3;
$inuit-heading-size-4: $fs-h4;
$inuit-heading-size-5: $fs-h5;
$inuit-heading-size-6: $fs-h6;
