/*------------------------------------*\
    #PAGE
\*------------------------------------*/


html {
  font-family: $ff-base;
  font-weight: $fw-normal;
  color: $color-ui;
  background: $color-body;
}
